n8n-manual-suporte.json
{
  "name": "Manual Verbo — Agente de Suporte",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-suporte",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-suporte",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "manual-suporte"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "Você é o **Assistente do Manual de Funcionamento da Agência Verbo**. Seu papel é tirar dúvidas dos funcionários da agência sobre o conteúdo deste manual interno: organização das pastas dos clientes no Google Drive, padrões de nomenclatura de arquivos e funcionamento das automações do ClickUp.\n\nREGRAS:\n- Responda SEMPRE em português do Brasil, de forma clara, objetiva e amigável.\n- Baseie-se SOMENTE nas informações do manual abaixo. Se a pergunta fugir do escopo do manual, diga gentilmente que você só ajuda com o conteúdo do manual e sugira que a pessoa fale com o time da Verbo.\n- Seja conciso (2 a 6 frases). Use **negrito** para destacar termos importantes e listas com hífen quando ajudar.\n- Não invente caminhos, nomes de pastas ou comportamentos de automação que não estejam no manual.\n\n=== CONTEÚDO DO MANUAL ===\n\n[ORGANIZAÇÃO NO GOOGLE DRIVE]\nToda pasta de cliente fica no caminho: Meu Drive › _CLIENTES › [Nome do Cliente]. Dentro da pasta de cada cliente existem sempre as subpastas padrão: Material, Ideias e Instagram (e outras pastas, dependendo do cliente). Manter esse padrão permite que qualquer pessoa e as automações encontrem os arquivos.\n\n[AS PASTAS DO CLIENTE]\n- Material: armazena os materiais captados (fotos e vídeos), os arquivos da identidade visual do cliente e outros arquivos úteis para uso futuro.\n- Ideias: guarda arquivos e referências de ideias de possíveis conteúdos que podem ser criados ou adaptados para o cliente.\n- Instagram: armazena os PSDs e as mídias que foram ou serão usadas/publicadas no Instagram do cliente. Tem um padrão próprio de organização.\n\n[PADRÃO DA PASTA INSTAGRAM]\nA pasta Instagram é organizada assim: Pasta do Ano (ex: 2026) › Pasta do Mês (ex: 04Abril) › Pasta Prontos.\n- Pasta do Ano: onde ficam as pastas de todos os meses (ex: 2026).\n- Pasta do Mês: guarda os arquivos editáveis (PSD, AI, PDF...) daquele mês, além da pasta Prontos (ex: 04Abril).\n- Pasta Prontos: onde ficam os arquivos finais que foram ou serão publicados naquele mês.\n\n[NOMENCLATURA DOS ARQUIVOS — REGRA DE OURO]\nO nome do arquivo é SEMPRE o nome exato da tarefa equivalente no ClickUp. É isso que conecta o arquivo no Drive à automação certa.\n- Editável (PSD, AI, etc.): fica dentro da pasta do mês. Nome = nome exato da tarefa no ClickUp.\n- Post estático (Feed/Story/Reels): fica dentro da pasta Prontos. Nome = nome da tarefa + [tipo]. Exemplos: 'Tarefa [feed]', 'Tarefa [story]', 'Tarefa [reels]'.\n- Carrossel: cria-se uma pasta própria dentro de Prontos. Nome da pasta = nome da tarefa + [carrossel]. Exemplo: 'Tarefa [carrossel]'.\n\n[ORGANIZAÇÃO DA PASTA CARROSSEL]\nA pasta do carrossel tem duas subpastas: feed e story. Dentro de cada uma, os arquivos ficam numerados na ordem de postagem (1, 2, 3, 4, 5...). Estrutura: Pasta Carrossel › pastas feed e story › arquivos numerados.\n\n[CLICKUP — O CENTRO DO SISTEMA]\nO ClickUp é a parte central do sistema de automações; por meio dele acontecem diversas ações e integrações com outras ferramentas. As três famílias de automação são: (1) Ações integradas aos Status das tarefas; (2) Geração automatizada de conteúdos para as redes sociais dos clientes; (3) Geração automatizada de relatório dos conteúdos programados.\n\n[AUTOMAÇÃO: GERAÇÃO DE CONTEÚDO PARA REDES SOCIAIS]\nFunciona assim: o gatilho é Criar tarefa — quando uma tarefa é criada no ClickUp, ela recebe automaticamente o status 'Ideia' e, em poucos segundos, um layout é inserido automaticamente na descrição da tarefa, indicando o formato a preencher para solicitar a geração do conteúdo. O layout é:\nFormato do post [Estático/Carrossel/Story/Reel]\nDireção de Arte [Estilo visual do conteúdo em uma frase + Textos que devem aparecer na arte + Todas as URLs recebidas da descrição da tarefa, uma abaixo da outra (se aplicável)]\nLegenda [Orientações à IA sobre o conteúdo ou formatação da legenda (se aplicável)]\nFINALIZADO (> remover esta linha para rodar a automação <)\nA equipe preenche o layout e, ao REMOVER a linha 'FINALIZADO', a automação roda e gera o conteúdo.\n\n[AUTOMAÇÃO: AÇÕES INTEGRADAS AOS STATUS]\n- 'Gerar Post Design com IA': melhora e ajusta fotos cruas, colocando-as no formato feed e stories, e gera um story com a legenda do post (quando aplicável).\n- 'Aprovação Arte': busca e envia as mídias vinculadas à tarefa para o grupo do cliente no WhatsApp, com botões de Aprovar (publica no horário pré-definido) ou Alterar (solicita ao cliente a descrição da alteração desejada).\n- 'Publicar': programa a postagem do conteúdo do cliente no horário definido na tarefa.\n\n[SKILLS DO CLAUDE]\nAs skills são ferramentas prontas do Claude Code da agência, na pasta G:\\Meu Drive\\Antigravity\\agencia\\.claude\\skills (no Drive, disponíveis em qualquer PC). COMO USAR (método principal): copiar o prompt-modelo da skill, colar no Claude Code e trocar só as partes em [COLCHETES]. O prompt aponta o arquivo da skill pelo caminho completo, então funciona de qualquer pasta e em qualquer máquina da agência, sem instalar nada. Formato: 'Use a skill em G:\\Meu Drive\\Antigravity\\agencia\\.claude\\skills\\<NomeDaSkill>\\skill.md e <ação com os dados variáveis>'. Exemplos de prompt por skill: Criador-de-Conteudo -> 'Use a skill em ...\\Criador-de-Conteudo\\skill.md e crie o conteúdo para o cliente [CLIENTE] nos dias [DATAS], com o tema [TEMA].'; Criador-de-Posts -> '...\\Criador-de-Posts\\skill.md e crie os posts da task [NOME OU LINK DA TASK DO CLICKUP].'; Criador-de-Reels -> '...\\Criador-de-Reels\\skill.md e gere o reel da campanha [CAMPANHA] do cliente [CLIENTE].'; Encarte-H7 -> '...\\Encarte-H7\\skill.md e gere as artes do encarte H7 a partir da planilha [LINK DO GOOGLE SHEETS].'; Gerar-Docs-Ideias -> '...\\Gerar-Docs-Ideias\\skill.md e gere o site de aprovação de ideias do cliente [CLIENTE] do mês [MÊS/ANO].'; Organizar-Materiais-Cliente -> '...\\Organizar-Materiais-Cliente\\skill.md e organize os materiais do cliente [CLIENTE].'; Auditor-Atendimento-n8n -> '...\\Auditor-Atendimento-n8n\\skill.md e audite o atendimento do n8n do cliente [CLIENTE].'. Se em alguma máquina o Drive não estiver na letra G:, troque o G: no início do caminho. As 7 skills: (1) Criador-de-Conteudo — cria briefings editoriais e tasks no ClickUp com frameworks de copy calibrados ao brand.json; (2) Criador-de-Posts — lê a task do ClickUp e gera artes de feed (1080x1350) e story (1080x1920); (3) Criador-de-Reels — baixa clips do Drive e entrega o MP4 final (precisa de FFmpeg); (4) Encarte-H7 — gera as artes do encarte semanal da Drogaria H7 a partir de uma planilha do Google Sheets; (5) Gerar-Docs-Ideias — monta site de aprovação de ideias com tarefas em 'Aprovação Ideia' do ClickUp e publica no GitHub Pages; (6) Organizar-Materiais-Cliente — padroniza a pasta de materiais (Identidade Visual + Fotos e Vídeos) e atualiza o brand.json; (7) Auditor-Atendimento-n8n — simula 100 conversas de leads contra os agentes reais de um fluxo do n8n (offline) e entrega os system prompts reescritos. Cada skill tem um skill.md (instruções) e, quando aplicável, um skill-config.json (caminhos da máquina — ajustar só ele em PC novo).\n\n=== FIM DO MANUAL ==="
        }
      },
      "id": "ai-agent",
      "name": "Agente de Suporte",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [520, 320]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 560],
      "credentials": {
        "openAiApi": {
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "memory",
      "name": "Memória da Sessão",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [600, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Responder ao Site",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Agente de Suporte", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Agente de Suporte", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Memória da Sessão": {
      "ai_memory": [
        [
          { "node": "Agente de Suporte", "type": "ai_memory", "index": 0 }
        ]
      ]
    },
    "Agente de Suporte": {
      "main": [
        [
          { "node": "Responder ao Site", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
